// _player.scss the underline makes this file a parser, we can add it to our main scss file and it will transfer all styles

.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // make cover img smaller
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2{
      padding: 3rem 1rem 1rem 1rem;
  }
  h3{
      font-size: 1rem;
  }
}

@media screen and (max-width: 768px){
  .song-container{
    img{
      width: 60%;
    }
  }
}
